name: Format PR Files

on:
  pull_request:
    paths:
      - '**/*.md'  # Trigger workflow only when .md files are modified in the PR

jobs:
  whitespace:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Set up Git config
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Remove trailing whitespaces from Markdown files
        run: |
          echo "Target branch: ${{ github.event.pull_request.base.ref }}"
          echo "Head branch: ${{ github.event.pull_request.head.ref }}"
          
          # Get the base commit between the target branch (main) and the source branch (HEAD)
          base_branch="${{ github.event.pull_request.base.ref }}"
          head_branch="${{ github.event.pull_request.head.ref }}"
          
          git fetch origin $base_branch
          git fetch origin $head_branch
          
          base_commit=$(git merge-base origin/$base_branch origin/$head_branch)
          echo "Base commit: $base_commit"
          
           # Get the changed files in the current PR
          echo "Checking changes in PR..."
          files=$(git diff --name-only $base_commit origin/$head_branch)
          echo "Changed files: $files"

          # Filter out .md files
          file=$(echo "$files" | grep '\.md$')
          echo "Filtered .md file: $file"

          if [ -n "$file" ]; then
            echo "Processing file: $file"
            # Remove trailing spaces from each line in the file
            sed -i 's/ $//g' "$file"
            # Switch to the source branch and push the changes
            git checkout $head_branch
            git add "$file"
            git commit -m "Remove trailing spaces from $file"
            git push origin $head_branch
          else
            echo "No .md files found or no changes to commit."
          fi